@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
:root{
  --main:#05b0c7;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 0 2px 3px -3px rgb(99, 99, 99);
}
.navbar h1 {
  color: var(--main);
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: var(--main);
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 5px;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
  border: none;
}
.blog-preview h3 {
  font-size: 18px;
  color: var(--main);
  margin-bottom: 8px;
}
.blog-preview button{
  margin-top: 0.8rem;
}